.inputdropdown{
    background-color: rgb(39, 87, 136);
    height: 100%;
    color: white;
    border-radius: 4px;
    border-color: transparent;
    font-weight: 700;
    font-size: medium;
}
.input-group-text{
    background-image: linear-gradient(
0deg
, #1e1a47 0%, #72c7ff 100%);
} 
/* .btn {
    background-image: linear-gradient(
0deg
, #1e1a47 0%, #72c7ff 100%);
    color: white;
    padding: auto;
    font-size: larger;
    border-radius: 3px;
    font-weight: 600;
    margin-bottom: 14px;
} */
.heading{
    display: flex;
}
@media (max-width: 550px) {
    .heading {
       display:block;
      } 
  }
  .add{
    border: 1px solid beige;
    color: black;
    background-color: white;
    background-image: none;
    font-size: inherit;
    font-weight: 200;
    /* padding-right: 30px; */
  }
  .add:hover{
    border: 1px solid beige;
    color: rgb(71, 70, 70);
    /* background-color: rgb(134, 119, 119); */
    background-image: linear-gradient(0deg, #1e1a47 0%, #72c7ff 100%);
    font-size: inherit;
    font-weight: 600;
    padding-right: 30px;
  }