.user{
    background-color: bisque;
    border-radius: 10px;
    padding:50px;
    margin:50px;
    border:2px solid ;
}
.userdetails{
   
        display: flex;
        flex-wrap: wrap;
        margin-right: 1px;
        margin-left: -15px;
        align-content: flex-start;
        justify-content: center;
   
}