.input {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 5vh;
    left: 20%;
    width: 80%;
    z-index: 100;
    height: 80vh;
    overflow: auto;
    border-radius: 2%;
    /* text-align: center; */
    
  }
  
  .header {
    background:#275788;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}


  
  
  .header h2 {
    margin: 0;
    color: white;
  }
  
  .content {
    padding: 1rem;
  }
  
  .actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  .btn{
    /* padding-right: 10px; */
    margin-right: 10px;
  }
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 30rem;
    }
  }
  .image{
    background-color: black;
    height: 50px;
    width:50px
      }
  .image:hover{
        height: 60vh;
        width:50%;
        /* background-color: black; */
        
          }
ol{
  /* list-style-type: none; */
  color: black;
}
ol li{
  color: black;
  
}
.remove {
  background-color: white;
  color :red;
  /* border: none; */
  /* border: 1px solid beige; */
  /* padding-right: 30px; */
}
.multi{
  display: flex;
  justify-content: center;
}
.multiBanner{
  display: flex;
}
.submit{
  width: -webkit-fill-available;
}
/* .inputmulti{
  display: contents;
} */
table, th, td {
  border: 1px solid black;
}
.notes{
  padding: 20px;
  box-shadow: 0 0 30px rgb(1 41 112 / 8%);

}
.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#myGrid {
  flex: 1 1 0px;
  width: 100%;
}

.fa-hourglass-half {
  color: navy;
  font-size: 18px;
}

.fa-frown {
  color: navy;
  font-size: 18px;
}
