.custom-tooltip {
    position: absolute;
    overflow: visible;
    pointer-events: none;
    transition: opacity 1s;
    background-color: white;
    border: 1px solid skyblue;
    border-radius: 5px;
  }
  
  .custom-tooltip.ag-tooltip-hiding {
    opacity: 0;
  }
  
  .custom-tooltip p {
    margin: 5px;
    white-space: nowrap;
  }
  
  .custom-tooltip p:first-of-type {
    font-weight: bold;
  }
.panel-title{
    background-image: linear-gradient(0deg, #1e1a47 0%, #72c7ff 100%);
    color: white;
}
.panel-heading ul{
    color: black;
}
.panel-body ul li{
    /* text-decoration: none; */
    list-style-type: none;
    color: black;
    padding: 5px;
    
    /* text-align: center; */
}

.rag-red {
  background-color: lightcoral;
}
.rag-green {
  background-color: lightgreen;
  padding: 5px;
  margin: 5px;
}
.rag-amber {
  background-color: lightsalmon;
}

.rag-red-outer .rag-element {
  background-color: lightcoral;
  padding: 10px;
  width: 50px;
  padding-right: 23px;

}

.rag-green-outer .rag-element {
  background-color: lightgreen;
  padding: 10px;
  padding-right: 55px;
  /* margin: 5px; */
}

.rag-amber-outer .rag-element {
  background-color: lightsalmon;
  padding: 10px;
  
  padding-right: 12px;
}