.btn {
    background-image: linear-gradient(0deg, #1e1a47 0%, #72c7ff 100%);
    color: white;
    padding: auto;
    font-size: larger;
    border-radius: 3px;
    font-weight: 600;
}


.ag-header-viewport{
    background-image: linear-gradient(0deg, #1e1a47 0%, #72c7ff 100%);
    color: white;
  }
  .ag-header-viewport:hover{
    background-image: linear-gradient(0deg, #1e1a47 0%, #72c7ff 100%);
    color: white;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1px;
    margin-left: -15px;
    align-content: flex-start;
    justify-content: flex-end;
}
.export {
    /* background-color: white; */
    border: none;
    /* float: right; */
    display: list-item;
    text-decoration: blink;
}
@media (max-width: 550px) {
    .con, .con-fluid, .con-lg, .con-md, .con-sm, .con-xl {
        width: 100%;
        /* padding-right: 15px; */
        padding-left: 80px;
        margin-right: auto;
        margin-left: auto;
    }
  }
  /* select {
    word-wrap: normal;
    padding: 10px;
    color: beige;
    font-size: larger;
    font-weight: 600;
    border-radius: 5px;
    background-image: linear-gradient(0deg, #271f41 0%, #72c7ff 100%);
    background-color: rgb(44, 44, 73);
    margin: 14px;
    border: white;
} */
  /* select {
    word-wrap: normal;
    background-image: linear-gradient(0deg, #1e1a47 0%, #72c7ff 100%);
    color: white;
    display: flex;
} */
  /* @media (min-width: 576px){
.container, .container-sm {
    max-width: 540px;
    padding-left: 30px;
    
}} */

.ag-theme-alpine .ag-header-icon {
    color: white;
    color: var(--ag-secondary-foreground-color, var(--ag-foreground-color, #181d1f));
}
.ag-header-cell-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    font-size: larger;
}
.ag-theme-alpine .ag-icon {
    font-family: "agGridAlpine";
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: large;
    -moz-osx-font-smoothing: grayscale;
}
.ag-theme-alpine .ag-icon:hover {
    font-family: "agGridAlpine";
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    color: black;
    font-size: large;
    -moz-osx-font-smoothing: grayscale;
}
.ag-theme-alpine .ag-paging-panel {
    border-top: 1px solid;
    border-top-color: #babfc7;
    border-top-color: var(--ag-border-color, #babfc7);
    color: #181d1f;
    color: var(--ag-secondary-foreground-color, var(--ag-foreground-color, #181d1f));
    height: 48px;
    /* background-color: transparent; */
    /* border: 3px solid; */
    background-image: linear-gradient(0deg, #25245e -115%,#72c7ff 80%);
    /* background-color: #2c8083; */
}
.ag-theme-alpine .ag-paging-number, .ag-theme-alpine .ag-paging-row-summary-panel-number {
    font-weight: 700;
    color: white;
}
.ag-theme-alpine .ag-root-wrapper {
    border: solid 1px;
    border-color: #babfc7;
    /* box-shadow:   1px 1px 1px #888888; */
    /* border-style: dotted ; */
    /* border-color: blue; */
    border-bottom: transparent;
    border-radius: 10px 10px 0px 0px;
    border-color: var(--ag-border-color, #babfc7);
}
.ag-theme-alpine .ag-floating-filter-button-button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    /* border: 3px solid transparent; */
    /* box-shadow:  1px 1px 2px 1px #888888; */
    /* height: 16px; */
    /* padding: 0; */
    width: 20px;
    border-radius: 50px;
}
.dropdownbutton{
background-color: white;
border: none;
}
.ag-row-hover {
    /* putting in !important so it overrides the theme's styling as it hovers the row also */
    background-color: #dfdfff ;
  }
  
  



/* or write CSS selectors to make customisations beyond what the parameters support */
.ag-column-hover .ag-header {
    background-color: black;
}
  
.ag-theme-alpine .ag-overlay-loading-center {
  background: transparent;
    border: none;
    box-shadow: none;
}