
  .login {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(0deg, #271f41 0%, #72c7ff 100%)!important;
    color: rgb(5, 5, 29);
  }
.log{
  background: linear-gradient( 
    45deg
     , rgb(224 24 10 / 36%), transparent);
    
    
    
}
.bg {
  background-image: url(/src/assets/login.gif);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  }
  @media (max-width: 550px) {
    .bg {
    display: none;
      } 
  }
  
.card{
  height: 500px;
  align-items: center;
  border-radius: 30px;
  background-color: transparent;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
 /* background-color: transparent; */
}
.input{
  width:80%;
  padding-bottom: 30px;
 
}
.button{
  width: 30%;
  margin-bottom: 30px;
 
}
.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #c6dfdf;
  padding: 10px;
  text-align: center;
  /* padding-top: 20px; */
  /* margin-top:20px; */
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: #c0392b !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #c0392b;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #c0392b !important;
}
.link{
  color: white;
}
.link a{
  color: white;
}
.label{
  color: white;
  font-size: medium;
}