.navbar{
    background-image: linear-gradient(0deg,  #72c7ff 0%, #271f41 100%);
    font-size: larger;
    font-weight: 500;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-left: 30px;
    font-size: large;
    font-weight: 600;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
}
}
.navLinks{
    color: white;
}