.card {
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
    border: none;
    height: 350px;
    position: relative
}
.card-2 {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
    border: none;
    /* height: 350px; */
    position: relative
}

.grid{
    height: 80vh;
}
body {
    background: #eee
}

.mobile-text {
    color: #989696b8;
    font-size: 15px
}

.form-control {
    margin-right: 12px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff8880;
    outline: 0;
    box-shadow: none
}

.cursor {
    cursor: pointer
}
input{
    border:white;
}