
#header {
  position: absolute;
  width: 220px;
  height: 85%;
  
}
/* #header .pro-sidebar {
  height: 100vh;
} */
#header .closemenu {
  color: white;
  /* position: absolute; */
  right: 100;
  /* z-index: 9999; */
  /* line-height: 1px; */
  /* border-radius: 50%; */
  /* font-weight: bold; */
  font-size: 20px;
  /* top: 25px; */
  cursor: pointer;
  text-align: end;
  /* top: 10px; */
}
#header .pro-sidebar {
  width: 100%;
  min-width: 100%;
}
#header .pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}
#header .pro-sidebar-inner {
  background-color: white;
  /* box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15); */
}
/* #header .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
} */
/* #header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  padding: 0 20px;
  color: white;
  font-weight: bold;
} */
#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  /* padding: 0 20px; */
  color: white;
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: white;
  /* margin: 10px 0px; */
  /* font-weight: bold; */
  /* font-size: larger; */
}


#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
 
  background-image: linear-gradient(0deg, #271f41 0%, #72c7ff 100%);
  color: rgb(248, 246, 246);
  border-radius: 3px;
  font-size: 25px;
  border: 1px solid cornflowerblue;
  box-shadow: 1px 1px 1.5px skyblue;
  /* padding: 10px; */
}

#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
  color: rgb(209, 52, 52);
}
/* #header .pro-sidebar-inner .pro-sidebar-layout :hover {
  background-image: linear-gradient(0deg, #271f41 0%, #72c7ff 100%);
} */
.pro-inner-item:hover{
  
  background-image: linear-gradient(0deg, #271f41 0%, #72c7ff 100%);
}
#header .pro-sidebar-inner .pro-sidebar-layout:visited{
  background-image: linear-gradient(0deg, #271f41 0%, #72c7ff 100%);
}
#header .logo {
  padding: 20px;
}
/* .pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 101;
} */

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  position: relative;
  /* background-color:#c0392b; */
  background-image: linear-gradient(0deg, #271f41 0%, #72c7ff 100%);
  color: white;
}
/* #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: rgb(228, 27, 27);
  margin: 10px 0px;
  font-weight: bold;
} */
.pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item > .popper-inner {
  max-height: 83vh;
  overflow-y: auto;
  /*background-image: linear-gradient(0deg, #f2f1f5 0%, #72c7ff 100%);*/
  
  background-image: linear-gradient(0deg, #271f41 0%, #72c7ff 100%);
  padding-left: 20px;
  border-radius: 4px;
}
li{
color: red;
}
.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
display: flex;
justify-content: space-around;
border-bottom: 1px solid rgb(175 8 8 / 20%);

  /* background-color: darkcyan; */

background-image: linear-gradient(
0deg, #271f41 0%, #72c7ff 100%);
}
.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-footer {
border-top: 1px solid rgba(173, 173, 173, 0.2);
background-image: linear-gradient(0deg, #271f41 0%, #72c7ff 100%);
}
.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
/* height: 87vh; */
overflow-y: auto;
overflow-x: hidden;
position: relative;
display: flex;
flex-direction: column;
z-index: 101;
/* background-image: linear-gradient(0deg, #271f41 10%, #72c7ff 100%); */
}
/* #header .pro-sidebar-inner {
background-color: white;
box-shadow: 2px 1px 2px 5px rgb(0 0 0 / 15%);
border-radius: 5px;
} */
.pro-sidebar .pro-menu {
padding-top: 10px;
padding-bottom: 10px;
/* background-color: darkcyan; */
background-image: linear-gradient(
0deg, #271f41 0%, #72c7ff 100%);
}
@media only screen and (min-width: 1700px) {
  .pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
    height: 100%;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 101;
    /* background-image: linear-gradient(
0deg, #271f41 10%, #72c7ff 100%); */
}
}