.fa {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    /* background: #3B5998; */
  }
  .fa:hover {
    opacity: 0.7;
}