.card {
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
    border: none;
    /* height: 350px; */
    position: relative;
}
.card {
    height: 200px;
    align-items: center;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    /* background-color: transparent; */
}
.icons{
color: brown;
text-shadow: cornflowerblue;
}
.home{
    /* background-image: url('https://cdn.dribbble.com/users/2501555/screenshots/6162791/personal-circle.gif'); */
    
    background-image: url('https://www.techrepublic.com/a/hub/i/r/2019/02/14/4f571ee4-f9de-4f80-8028-e9981ca7c1b0/resize/1200x/7e814383fc5f43db8033047fc9f57c1e/istock-901609212datasecurity.jpg');
    
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
  /* background-position: center; */
  background-size: cover;

}
.home1{
    width: fit-content;
    padding:200px;
    display: flex;
}