button{
    background-color: white;
    /* border:none; */
    border: 1px solid beige;
    padding-right: 30px;
}
.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  #myGrid {
    flex: 1 1 0px;
    width: 100%;
  }