
  .App {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: white;
    color: grey;
    /* background:; */
  }
.log{
  background: linear-gradient( 
    45deg
     , rgb(224 24 10 / 36%), transparent);
    
    
    
}
.selectbox{
  background-image: linear-gradient(0deg, #1e1a47 0%, #72c7ff 120%);
   /* background-image: linear-gradient(0deg, #2b2941 -10%, #72c7ff 500%); */
  color: white;
  padding: auto;
  font-size: larger;
  border-radius: 1px 1px 10px 10px;
  font-weight: 600;
   /* box-shadow:   5px 5px 5px 5px #888888; */
}
